# --- Секреты и настройки (Самое важное!) ---
.env
instance/
.flaskenv

# --- Базы данных (чтобы напарник создавал свою чистую БД) ---
*.sqlite3
*.db

# --- Виртуальное окружение (у каждого свое) ---
.venv/
venv/
ENV/
env/

# --- Кэш Python (мусорные файлы компиляции) ---
__pycache__/
*.py[cod]
*$py.class

# --- Хранилище статики (загруженные фото для тестов) ---
static/uploads/*
# Исключаем всё из папки, но оставляем саму папку (необязательно)
!static/uploads/.gitkeep

# --- Специфика ОС (особенно для твоего Mac) ---
.DS_Store
Thumbs.db

# --- Настройки редакторов кода ---
.vscode/
.idea/
*.swp